{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card shadow-sm">
      <div class="card-body">
        <h3 class="card-title text-center mb-3">Login</h3>
        <form method="POST">
          <div class="mb-3">
            <label class="form-label">Username</label>
            <input name="username" class="form-control" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input name="password" type="password" class="form-control" required>
          </div>
          <div class="d-grid">
            <button class="btn btn-primary">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<footer style="position:fixed; bottom:0; left:0; width:100%; background:#111; color:#fff; text-align:center; padding:10px 0;">
  &copy; 2025 R.Vishwa Janagan. All rights reserved.
</footer>

{% endblock %}
